body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	padding: 100px 0;
}

h1 {
	font-size: 4em;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	margin-top: 0;
}

nav {
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
    align-self: center;
}

/* blockquote {
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 800px;
    padding-left: 500px;
    padding-right: 500px;
} */

/* For Mobile */
@media screen and (max-width: 749px) {
    div.timeline {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* For Desktop */
@media screen and (min-width: 750px) {
    div.timeline {
        justify-content: center;
        display: flex;
    }
    
    div.twitter-timeline {
        width: 600px
    }
}

#chatbox {
	width: 90%;
    background-color: black;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    position: relative;
	font-size: 1em;
    margin: 0 auto;
}

#user-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    box-sizing: border-box;
	font-size: 1em;
}

#user-input:focus {
    border-left: 3px solid grey;
    padding-left: 10px;
}


#send-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.3em; /* adjust as needed */
    padding: 5px;
	padding-bottom: 7px;
    cursor: pointer; /* changes the mouse cursor when hovering over the button */
	/* vertical-align: middle; */
}

#send-button:disabled {
    /* opacity: 0.5; */
    cursor: not-allowed;
}

@media screen and (min-width: 750px) {
    #chatbox {
        width: 50%;
    }
}

.user-message,
.ai-response {
    padding: 10px;
    margin: 10px 0;
    /* border-radius: 5px; */
}

.user-message {
    /* background-color: #007bff; */
    color: white;
    text-align: right;
	border-right: 3px solid gray;
}

.ai-response {
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    color: white;
}

.spacer {
    height: 20px; /* Adjust this value according to your needs */
}
