
body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* font-family: Arial, sans-serif; */
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 80px 0;
}

.repos {
    text-align: center;
    padding: 60px 0px 20px 0px;
    font-weight: 500;
    font-size: 2em;
    /* text-decoration: underline; */
}

.name {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 0;
}

.desc {
    font-size: 2em;
    font-weight: 400;
    margin-top: 0;
}

nav {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    /* display one on top of the other */
    display: inline-table;
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    align-self: center;
}

/* For Mobile */
@media screen and (max-width: 749px) {
    div.timeline {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* For Desktop */
@media screen and (min-width: 750px) {
    div.timeline {
        justify-content: center;
        display: flex;
    }

    div.twitter-timeline {
        width: 600px
    }
}

#chatbox {
    width: 90%;
    background-color: black;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 35px;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    position: relative;
    font-size: 1em;
    margin: 0 auto;
}

#user-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}

#user-input:focus {
    border-left: 3px solid grey;
    padding-left: 10px;
}


#send-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.3em;
    /* adjust as needed */
    padding: 5px;
    padding-bottom: 7px;
    cursor: pointer;
}

#send-button:disabled {
    /* opacity: 0.5; */
    cursor: not-allowed;
}

.repositories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repo-box {
    width: 80%;
    background-color: black;
    border: 1px solid #4d4d4d;
    border-radius: 13px;
    margin: 10px 0;
    transition: background-color 0.4s;
    padding: 20px;
}

.repo-box:hover {
    background-color: rgb(34, 38, 49);
}

.repo-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.repo-name {
    font-size: 1.5rem;
    margin: 0;
}

.repo-description {
    margin: 0;
    margin-top: 10px;
    font-size: 0.8em;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

@media screen and (min-width: 750px) {
    #chatbox {
        width: 800px;
    }
    .repo-box {
        width: 750px;
    }
}

.user-message,
.ai-response {
    padding: 10px;
    margin: 10px 0;
    /* border-radius: 5px; */
}

.user-message {
    /* background-color: #007bff; */
    color: white;
    text-align: right;
    border-right: 3px solid gray;
}

.ai-response {
    background-color: #008ae0;
    width: 80%; /* Set width to 80% of the parent container */
    margin-left: 0px; /* Align left */
    margin-right: auto; /* Align left */
    border-radius: 30px;
    padding: 20px;
    color: #ffffff; /* Changing text color to black for better contrast with the light background */
}

.spacer {
    height: 20px;
    /* Adjust this value according to your needs */
}

.grecaptcha-badge { 
    visibility: hidden;
}

.call {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 0;
}

#newsletter-header {
    padding: 80px 0px 100px 0px;
}

@media screen and (max-width: 749px) {
    .call {
        font-size: 2.5em;
        font-weight: 500;
        margin-bottom: 0;
    }
    .subquote {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 0;
    }
}

#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#subscribe-form {
    width: 100%;
    max-width: 400px;
    background-color: black;
    border-radius: 35px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

#email-box {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 35px;
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    outline: none;
    margin-bottom: 10px;

    /* Set the caret color and shape */
    caret-color: rgb(255, 255, 255);
    caret-shape: block;
}

.clickable {
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 35px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.clickable:hover {
    background-color: black;
    color: white;
}

.newsletter-nav {
    padding: 20px 20px 0px 20px;
    text-align: center; /* Center-align content horizontally */
}

.newsletter-nav a {
    width: 350px;
    display: inline-block; /* Make the anchor inline-block to constrain width */
}

@media screen and (max-width: 749px) {
    .newsletter-nav a {
        width: 90%;
    }
}
